

.container{
    outline: 1px;
}

input[id="check2"]{

    height: 50px;
    width: 50px;
}
input[id="check2"]:checked + label::after{


    content: "*";
    background-color: yellow;
    height: 100px;
    width: 100px;
}

input[id="check3"]{
    border-radius: 35px;
    height: 70px;
    width: 70px;
}