.square{
    width: 100px;
    height: 100px;

    border: 1px solid black;
    display : inline-block;
    text-align: center;
    line-height: 100px;

}

.d-none{
    background-color: rgb(10,185,243);

}

.invisible{
    background-color: lightblue;
}
.invisible:hover{
    background-color: green;
    visibility: hidden;

}

.opacity-0{
opacity: 0;
background-color: lightskyblue;

}


.opacity-0:hover{
    background-color: red;

}